<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <title>Perpustakaan</title>
  </head>
  <body>
    <div class="container">
      <div class="library">
        <h1>Perpustakaan</h1>
        <a href="/addBook" class="btn btn-success">Tambah Buku</a>
        <div class="book-list">
          <table>
            <tr class="text-center">
              <th>No</th>
              <th>Judul Buku</th>
              <th>Penulis</th>
              <th>Aksi</th>
            </tr>
            <!-- Items -->
            <% books.forEach((book, no) => { %>
            <tr>
              <td class="text-center"><%= no += 1%></td>
              <td class="mw-300"><%= book.bookTitle %></td>
              <td class="mw-400"><%= book.bookWriter %></td>
              <td class="text-center">
                <a href="/<%= book.id %>/detailbook" class="btn btn-info m-lr10"
                  >Lihat</a
                >
                <a
                  href="/<%= book.id %>/editbook"
                  class="btn btn-warning m-lr10"
                  >Edit</a
                >
                <a
                  href="/<%= book.id %>/delete"
                  class="btn btn-danger m-lr10"
                  onclick="return confirm('Are you sure you want to delete this item?')"
                  >Hapus</a
                >
                <!-- <button class="btn btn-danger m-lr10">Hapus</button> -->
              </td>
            </tr>
            <% }) %>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
